h1{
    background-color: rgb(255, 0, 238);
}

.f{
    color: blueviolet;
}
#i{
    color: brown;
}
#e{
    background-color: aqua;}

    
    #r{
        background-color: brown;
    }